@import url('https://webfontworld.github.io/naver/MaruBuri.css');
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);

:root {
    /* color  */
    --color-primary: #af9981;
    --color-black: #333;
    --color-gray1: #606060;
    --color-gold: #d8bf82; 
    --color-white: #fff; 
}

*{
    margin: 0;
    padding: 0;
}

body, html {
    font-family:'pretendard',sans-serif;
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: -0.5px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: initial;
}
a:hover {
    color: initial;
}
p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    z-index: -1;
    border: none;
}
input[type=checkbox].blind:focus-visible + label,
input[type=radio].blind:focus-visible + label {
    outline: -webkit-focus-ring-color auto 1px;
}

/* common  */
.hidden {
    overflow: hidden;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;
}
.font-50 {
    font-size: 50px;
}
.font-48 {
    font-size: 48px;
}
.font-42 {
    font-size: 42px;
}
.font-20 {
    font-size: 20px;
}
.font-18 {
    font-size: 18px;
}
.font-16 {
    font-size: 16px;
}
.fw-500 {
    font-weight: 500;
}
.maruburi {
    font-family: 'MaruBuri';
    transform: skew(-0.1deg);
}
.color-primary {
    color: var(--color-primary);
}
.color-gold {
    color: var(--color-gold);
}
.color-gray1 {
    color: var(--color-gray1);
}
.bg-beige {
    background-color: #fcf8ed;
}
@media(max-width: 1200px) {
    .font-50 {
        font-size: 42px;
    }
    .font-48 {
        font-size: 40px;
    }
    .font-42 {
        font-size: 36px;
    }
    .font-20 {
        font-size: 18px;
    }
    .font-18 {
        font-size: 16px;
    }
    .font-16 {
        font-size: 15px;
    }
}
@media(max-width: 767px) {
    .container {
        position: relative;
        width: 100%;
        max-width: 1264px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .font-50 {
        font-size: 38px;
    }
    .font-48 {
        font-size: 36px;
    }
    .font-42 {
        font-size: 32px;
    }
}
@media(max-width: 480px) {
    .font-50 {
        font-size: 32px;
    }
    .font-48 {
        font-size: 30px;
    }
    .font-42 {
        font-size: 26px;
    }
    .font-20 {
        font-size: 16px;
    }
    .font-18 {
        font-size: 15px;
    }
    .font-16 {
        font-size: 14px;
    }
} 


/* .header  */
.header { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 120px;
    z-index: 10 ;
    padding: 40px 50px;
    box-sizing: border-box;
    transition: all 0.4s;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
}

.header.scroll,
.header:hover {
    background: rgba(255,255,255,0.88);
    backdrop-filter: blur(10px);
}
a { cursor: pointer; }
.header h1 { 
    max-width: 190px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 10;
}
.header h1 > a,
.header h1 > a > img {
    display: block;
}  
.header h1 > a {
    width:190px;
    height:83px;
}
.header h1 > a > img {
    position: absolute;
    width:100%;
    top: 0; left: 0; transition: all 0.4s;
}  
.header h1 > a > img.white {
    opacity: 1;
}
.header h1 > a > img.color {
    opacity: 0;
}
.header.scroll h1 > a > img.white,
.header:hover h1 > a > img.white {
    opacity: 0;
}
.header.scroll h1 > a > img.color,
.header:hover h1 > a > img.color {
    opacity: 1;
}

.header nav {
    position: absolute;
    top: 50%;
    right: 160px;
    transform: translateY(-50%);
}
.header nav .depth1 > li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.header nav .depth1 > li:last-child {
    margin-right: none;
}

.header nav .depth1 > li > div {
    display: none;
    width: 240px; padding: 20px 30px;
    box-sizing: border-box;
    background-color: #cfa46d;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.header nav .depth1 > li > div:before {
    display: block;
    content: '';
    width: 23px;
    height: 18px;
    background: url("../../assets/images/sub-menu-ico.png") no-repeat;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
} 
.header nav .depth1 > li > a {
    display: block;
    /* font-family: 'Aboreto', cursive; */
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.05px;
    position: relative;
    color: #fff;
}

.header nav .depth1 > li > a:hover { color: #af9981; }
.header.scroll nav .depth1 > li > a,
.header:hover nav .depth1 > li > a { color: #000; }
.header:hover nav .depth1 > li > a:hover { color: #af9981; }

.header nav .depth1 > li.has-child { padding-right: 20px; }
.header nav .depth1 > li.has-child:after {
    display: inline-block;
    content: '';
    vertical-align: middle;
    width: 10px;
    height: 6px;
    background: url("../../assets/images/has-child-after.png") no-repeat center;
    position: absolute;
    top: 50%; 
    right: 0;
    transition: all 0.3s;
}
/* .header nav .depth1 > li.has-child:hover > div {
    display: block;
} */
.header nav .depth1 > li.has-child:hover:after {
    transform: rotate(180deg);
}
.header nav .depth2 > li { margin: 20px 0; }
.header nav .depth2 > li > a {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.header nav .depth2 > li.menu_over a,
.header nav .depth2 > li:hover > a { color: #33d9e1; }
.header .login {
    position: fixed;
    top: 0;
    right: 120px;
    text-align: right;
    font-size: 0;
}
.header .login li {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.header .login span {
    display: block; width: 10px; height: 10px;
    background-color: #fff;
}
.header .login a {
    display: block; width: 10px; height: 10px;
    background-color: #eee;
}


.header .login li:nth-child(1) a {
    background-color: rgba(255,255,255,0.5);
}
.header .login li:nth-child(2) a {
    background-color: rgba(255,255,255,0.2);
}


/* .mmnx { 
    display: none; 
    position: fixed; 
    top : 0;
    right: 0;
    z-index: 10;
} */

.mmn  { 
    display: block; width: 120px; height: 120px; transition: all 0.3s;
    position: absolute; top: 0; right: 0; background: none; border: none; z-index: 100;
}
.mmn span { display: block; width: 36px; height: 2px; background-color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: all 0.3s; }
.mmn span:nth-child(1) { margin-top: -11px; }
.mmn span:nth-child(2) {}
.mmn span:nth-child(3) { margin-top: 11px; }
.mmn:hover  { 
    background: #af9981;
}
.header.scroll .mmn span,
.header:hover .mmn span { background-color: #000; }
.header.scroll .mmn:hover span,
.header:hover .mmn:hover span { background-color: #fff; }


.mmn.active span:nth-child(1) { margin-top: 0; transform: translate(-50%, -50%) rotate(45deg); background: #fff;}
.mmn.active span:nth-child(2) { opacity: 0; }
.mmn.active span:nth-child(3) { margin-top: 0; transform: translate(-50%, -50%) rotate(-45deg); background: #fff;}

.mobile-nav { display: none; }
.mobile-view { display: none; }
.mobile-nav.active {
    display: block;
    width: 360px; height: 100vh;
    background-color: #af9981;
    position: absolute;
    top: 0;
    right: 0;
    padding: 120px 40px;
    box-sizing: border-box;
}
.mobile-nav .depth1 > li { margin-bottom: 20px;}
.mobile-nav .depth1 > li > a {
    /* font-family: 'Aboreto', cursive; */
    font-size: 30px; line-height: 48px; color: #fff;
}
.mobile-nav .depth2 > li { padding-left: 30px; }
.mobile-nav .depth2 > li > a {
    font-size: 20px; line-height: 40px; color: #fff; opacity: 0.7;
}
.mobile-nav ul > li > a:hover { color: #613c0b; opacity: 1; }
/* .mobile-nav .mlogin { display: none; } */

.dimm { width: 100%; height: 100vh; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.66); display: none; z-index: 2; }
.dimm.active { display: block; } 
@media screen and ( max-width: 1024px ) {
    .header { 
        height: 80px;
        padding: 30px 30px;
    }
    .header h1 { 
        width: 112px;
        margin: 0;
        position: absolute;
        top: 50%; left: 24px;
        transform: translateY(-50%);
    }    
    .header h1 > a,
    .header h1 > a > img {
        width: 100%;
    }  
    .header h1 > a {
        height: 46px;
    }    
    .mmn { 
        display: block; 
        width: 80px; height: 80px;
    }
    .mmn span { width: 30px; height: 3px; }
    .header > .login {
        display: none;
    }
    .header nav {
        display: none;
    }
    .full-view { display: none; }
    .mobile-view { display: block; width: 100%; }
    .mobile-nav { z-index: 10; }
}

.mobile-nav .depth1 > li > a {
    font-size: 28px; line-height: 40px; 
}
.mobile-nav .depth2 > li {padding-left: 20px; }
.mobile-nav .depth2 > li > a {
    font-size: 18px; line-height: 40px; 
}

/* footer  */
.bottoms{background:#685d52;}
.bottoms *{color:#fff;font-size:17px; line-height: 1;}

.bottoms .info{display:flex;justify-content:space-between;max-width:62.5%;margin:0 auto;padding:80px 0 60px;}
.bottoms .info h3{padding-bottom:28px;font-size:2.35em;letter-spacing:0;font-family:'MaruBuri', serif;}
.bottoms .info h3 img{width:34px;margin-right:14px;}

.bottoms .info .box2 dl{display:flex;padding-bottom:18px; margin-bottom: 0; line-height: 1;}
.bottoms .info .box2 dt{width:69px;font-size:1.15em;text-align-last:justify;}
.bottoms .info .box2 dd{padding-left:18px;font-size:1.15em;font-weight:300;letter-spacing:0;font-family:'Lato', sans-serif; margin-bottom: 0;}
.bottoms .info .box2 li{padding:6px 0;color:#f0efbd}

.bottoms .info .box3 li{padding:4px 0;}
.bottoms .info .box3 img{max-width:260px;}
.bottoms .info .box3 .mo_btn{display:none}
footer{padding-bottom:50px;}
footer .fnav{border-bottom:1px solid rgba(255,255,255,0.1);}
footer .fnav ul{max-width:62.5%;margin:0 auto 26px;display:flex;gap:20px;}
footer .fnav li a{font-weight:600;}
footer .wrap{max-width:62.5%;margin:0 auto;}
footer .wrap dl{display:flex;flex-wrap:wrap;gap:5px 24px;padding-top:40px; margin-bottom: 0;}
footer .wrap dd:first-child{width:100%;}
footer .wrap dd a{color: rgba(255, 255, 255, 0.6);}
.bottoms footer .wrap dd{line-height:170%;color:rgba(255,255,255,0.6);font-weight:300; margin-bottom: 0;}
.bottoms footer .wrap copy{display:block;color:rgba(255,255,255,0.2);text-transform:uppercase;font-weight:300;padding-top:20px;letter-spacing:0;}

@media screen and (max-width: 1024px) {
    
    .bottoms{padding-bottom:100px;}
    .bottoms *{font-size:15px;}
    
    .bottoms .info{flex-direction:column;max-width:100%;padding:60px 20px 40px;text-align:center;gap:40px;}
    .bottoms .info h3{padding-bottom:22px;font-size:2.15em;}
    .bottoms .info h3 img{width:28px;margin-right:10px;}
    
    .bottoms .info .box2 dt{width:60px;}
    .bottoms .info .box2 > div{width:250px;margin:0 auto;}
    .bottoms .info .box3 .mo_btn{display:block}
    footer{padding-bottom:36px;}
    footer .fnav ul{max-width:100%;margin:0 20px 20px;}
    footer .wrap{max-width:100%;padding:0 20px;}
    footer .wrap dl{gap:4px 18px;padding-top:28px;}
}