.main_con *{
  font-weight:200;
  font-size:18px;
}
.main_con{
  padding:120px 0;
}
.main_con .monly{
  display:none;
}

.main_visual{
  position:relative;
  height:100vh;
  padding:0;
}
/* .main_visual .wrap{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
} */
.main_visual .pic{
  width:100%;
  height:100%;
  z-index:1;
  background:#000;
}
.main_visual .pic div{
  width:100%;
  height:100%;
}
.main_visual .pic .slide01{
  background:url("../../assets/images/main-visual01.jpg") no-repeat center center/cover;
}
.main_visual .pic .slide02{
  background:url("../../assets/images/main-visual02.jpg") no-repeat center center/cover;
}
.main_visual .txt{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  text-align:center;
  z-index:2;
  pointer-events:none; 
  width:100%;
  max-width: 1200px;
  padding: 0 32px;
}
.main_visual .txt em{
  display:block;
  letter-spacing:5px;
  padding-bottom:25px;
  color:#d8bf82;
  font-weight:600;
  font-style: normal;
  font-family:"Noto Serif", serif;
}
.main_visual .txt h2 span{font-size:48px;font-weight:100;line-height:140%;font-family:"Noto Serif", serif;color:#fff;}
.main_visual .txt h2 b{font-size:48px;font-weight:500;font-family:"Noto Serif", serif;color:#fff;}
.main_visual .txt h2 br{display:none;}
.main_visual .txt h2 span.a1{display:block;}
.main_visual .txt h2 span.a2{display:block;}
.main_visual .txt p{padding-top:32px;font-size:1.1em;line-height:150%;color:#fff;}

.main_visual .slick-dots{position:absolute;bottom:60px;left:50%;transform:translateX(-50%);font-size:0;text-align:center;}
.main_visual .slick-dots li{display:inline-block;vertical-align:top;margin:0 10px;}
.main_visual .slick-dots li button{display:block;width:70px;height:2px;background:rgba(255,255,255,0.8);font-size:0;}
.main_visual .slick-dots li.slick-active button{
  background:#af9981;
}


@media screen and (max-width: 1024px) {
    .main_con{padding:70px 24px;}
    .main_con *{font-size:17px;}
    .main_con .monly{display:block;}

    .main_visual{padding:0;}
    .main_visual .txt{padding:0 20px;}
    .main_visual .txt em{font-size:15px;padding-bottom:14px;}
    .main_visual .txt h2 span{font-size:36px;}
    .main_visual .txt h2 br{display:block;}
    
    .main_visual .slick-dots li{margin:0 5px;}
    .main_visual .slick-dots li button{width:50px;}
}

@media screen and (max-width: 767px) {
  .main_visual .txt h2 span{font-size:24px;}
  .main_visual .slick-dots{bottom:110px;}
}
/* @keyframes fade_top{
  0%{transform:translateY(30px); opacity: 0;}
  100%{transform:translateY(0); opacity: 1;}
}
@keyframes fade_in{
  0%{opacity: 0;}
  100%{opacity: 1;}
} */

/* sec02 */
.sec_spacial{background:url("../../assets/images/main-spacial-bg.jpg") no-repeat center bottom/cover;}
.sec_spacial > .wrap{position:relative;max-width:calc(62.5% + 60px);margin:0 auto;}
.sec_spacial .cont .slick-slide{opacity:0.15;transition:all 1s;}
.sec_spacial .cont .slick-slide.slick-active{opacity:1;}
.sec_spacial .cont .inner{padding:0 15px;display:flex;flex-direction:row-reverse;justify-content:space-between; gap: 30px;}
.sec_spacial .cont .txt dt{margin-left:-10px;font-size:100px;font-style:italic;font-weight:700;font-family:"Noto Serif", serif;color:#bba995;opacity:0.2;}
.sec_spacial .cont .txt dd h3{font-size:30px;font-weight:500;font-family:"Noto Serif", serif;}
.sec_spacial .cont .txt dd p{padding-top:20px;line-height:1.4;font-weight:300;}
.sec_spacial .imgmo{display:none;}

.sec_spacial .navi{position:absolute;bottom:0;left:30px;width:140px; height:25px; transition:.5s linear;}
.sec_spacial .navi_paging .slick-dots {position:relative;}
.sec_spacial .navi_paging li{position:absolute;top:0;left:0;width:100%;justify-content:space-between; font-size:18px; font-weight:600; line-height:25px; height:25px; display:none;}
.sec_spacial .navi_paging li.slick-active {display:flex;}
.sec_spacial .navi_paging li div{font-weight:700;}
.sec_spacial .navi_paging li div:before{content:'0';}
.sec_spacial .pro_wrap {position:absolute; top:50%; left:50%; width:80px; height:1px; transform:translate(-50%,-50%); background:rgba(0,0,0,.15);}
.sec_spacial .pro-bar {position:absolute; bottom:0; left:0; width:0; height:1px; background:#606060;}
.sec_spacial .pro-ani {animation:proBar 5s linear; width:100%;}

.sec_spacial .slick-arrow{position:absolute;top:50%;display:block;width:60px;height:38px;background:url("../../assets/images/arr.png") no-repeat center center/contain;z-index:9;font-size:0;border:0;}
.sec_spacial .slick-prev{left:-70px;transform:rotate(-180deg);}
.sec_spacial .slick-next{right:-70px;}

@keyframes proBar{
	0%{width:0;}
	100%{width:100%;}
}

@media screen and (max-width: 1024px) {
    
    .sec_spacial > .wrap{max-width:100%;}
    .sec_spacial .cont .inner{padding:0;padding-bottom:60px;flex-direction:column;}
    .sec_spacial .imgmo{display:block;width:100%;max-width:960px;}
    .sec_spacial .imgpc{display:none;}
    .sec_spacial .cont .txt{padding-top:40px;}
    .sec_spacial .cont .txt dt{margin-left:-6px;padding-bottom:30px;font-size:6.5em;}
    .sec_spacial .cont .txt dd p{padding-top:24px;}
    .sec_spacial .cont .txt dd p br{display:none;}
    
    .sec_spacial .navi{left:unset;right:0;}
    
    .sec_spacial .slick-arrow{display:none !important;}
}

/* sec 03  */
.sec_view > .wrap{max-width:62.5%;margin:0 auto;}
.sec_view .txt{text-align:center;}
.sec_view .txt em{display:block;letter-spacing:5px;padding-bottom:30px;color:#d8bf82;font-weight:600;font-family:"Noto Serif", serif;}
.sec_view .txt h3{font-size:2.55em;}
.sec_view .txt h3 b{font-size:1em;font-weight:600;font-family:inherit;}
.sec_view .txt h3 span{display:block;padding:5px 0;font-size:1em;font-weight:300;font-family:"Noto Serif", serif;}
/* .sec_view .txt h3.on span{transform:translateY(0);} */
.sec_view .cont{padding-top:60px;}
.sec_view .cont li img{margin:0 auto;width:100%;max-width:1000px;}

.sec_view .slick-arrow{position:absolute;top:50%;display:block;width:78px;height:60px;background:url(/_files/6q6hsTtIm.png) no-repeat center center/contain;z-index:9;font-size:0;border:0;}
.sec_view .slick-prev{left:-70px;}
.sec_view .slick-next{right:-70px;transform:rotate(-180deg);}

@media screen and (max-width: 1024px) {
    
    .sec_view > .wrap{max-width:100%;}
    .sec_view .txt em{font-size:15px;padding-bottom:20px;}
    .sec_view .txt h3{font-size:2.25em;}
    .sec_view .cont{padding-top:40px;}
    
    .sec_view .slick-arrow{display:none !important;}
}

/* sec 04  */
.sec_greeting{position:relative;}
.sec_greeting:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:62%;background:#af9981;z-index:-1;}
.sec_greeting .txt{text-align:center;}
.sec_greeting .txt *{color:#fff;}
.sec_greeting .txt h3{font-size:2.78em;}
.sec_greeting .txt h3 span{display:block;padding:5px 0;font-size:1em;font-weight:400;font-family:"Noto Serif", serif;letter-spacing:0;}
/* .sec_greeting .txt h3.on span{transform:translateY(0);} */
.sec_greeting .txt p{padding-top:32px;}
.sec_greeting .txt p b{display:block;font-size:1.12em;font-weight:700;padding-bottom:14px;}
.sec_greeting .pic{position:relative;padding-top:60px;z-index:1;}
.sec_greeting .pic img{display:block;margin:0 auto;width:100%;max-width:1200px;}



@media screen and (max-width: 1024px) {
    
    .sec_greeting .txt h3{font-size:1.95em;}
    .sec_greeting .pic{padding-top:40px;}
}

/* sec 05  */

.sec_contact{padding-top:0;}
.sec_contact .title{display:block;width:183px;margin:0 auto;}
.sec_contact .wrap{display:flex;gap:76px;padding-top:80px;}
.sec_contact .maps{width:50%;height:462px;}
.sec_contact .maps #daumRoughmapContainer1720076833589,
.sec_contact .maps #daumRoughmapContainer1720076833589 .wrap_map{width:100%;height:100%;}
.sec_contact .maps .hide{display:none;}

.sec_contact .rsv{max-width:520px;}
.sec_contact .rsv h3{font-size:2.78em;font-weight:400;font-family:"Noto Serif", serif;letter-spacing:0;color:#af9981;}
.sec_contact .rsv p{padding-top:26px;font-size:1.12em;font-weight:700;color:#af9981;}
.sec_contact .rsv form{padding-top:20px;}
.sec_contact .rsv form div input[type="text"],
.sec_contact .rsv form div select{display:block;width:100%;height:64px;margin:10px 0;padding:0 30px;border:1px solid #e5dcd3;font-weight:400;letter-spacing:0;box-sizing:border-box;border-radius:0;}
.sec_contact .rsv form div select{-webkit-appearance: none;background:#fff url(/_files/6q7j9HoGk.png) no-repeat right center;cursor:pointer;}
.sec_contact .rsv .chk{padding:10px 0 18px;}
.sec_contact .rsv .chk label{padding-left:10px;font-weight:500;color:#606060;}
.sec_contact .rsv .chk a{font-weight:500;text-decoration:underline;}
.sec_contact .rsv button[type="submit"]{display:block;width:100%;height:64px;line-height:64px;background:#af9981;}
.sec_contact .rsv button span{font-size:1.12em;font-weight:600;color:#fff;}
@media screen and (max-width: 1024px) {
    
    .sec_contact .title{width:130px;}
    .sec_contact .wrap{flex-direction:column;gap:40px;padding-top:60px;}
    .sec_contact .maps{width:100%;height:320px;}
    
    .sec_contact .rsv{max-width:100%;}
    .sec_contact .rsv h3{font-size:2.25em;}
}
