
/* sub common  */
.mo-img {
  display: none;
}

.sub-section {
  padding: 120px 0;
}

.sub-visual {
  height: 100vh;
  position: relative;
}

.sub-visual-txt {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  color: var(--color-white);
}
.sub-add {
  letter-spacing: 5px;
  font-weight: 500;
  transform: skew(-0.1deg);
}
.sub-visual-txt h2 {
  padding: 30px 0 35px;
  line-height: 1.4;
}
.sub-visual-desc {
  line-height: 1.9;
}

.sub-info-sec {
  padding: 160px 0;
}
.sub-info-logo {
  max-width: 180px;
}
.sub-info-txt h2 {
  padding: 45px 0 30px;
}

/* subpage 2 column  */
.sub-column-2 {
  padding-bottom: 60px;
}
.sub-column-2.row {
  margin-left: 0;
  margin-right: 0;
}
.sub-column-2.row > * {
  padding-left: 0;
  padding-right: 0;
}
.sub-column-2-txt {
  max-width: 632px;
}
.sub-column-2-txt.txt-left {
  padding-left: 32px;
  padding-right: 40px;
  margin: 0 0 0 auto;
}
.sub-column-2-txt.txt-right {
  padding-left: 40px;
  padding-right: 32px;
}
.sub-column-2-txt h2 {
  padding-bottom: 35px;
}
.sub-column-2-txt p {
  letter-spacing: 1.7;
  color: var(--color-gray1);
}
.sub-column-2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* subpage 3 column  */
.sub-column-3 {
  row-gap: 35px;
}
.sub-column-3-list img {
  width: 100%;
}
.sub-column-3-title {
  padding: 25px 0 5px;
}
/* subpage 3 column has icon  */
.sub-column-3-icon {
  padding-top: 50px;
}
.sub-column-3-icon > div {
  position: relative;
}
.sub-column-3-icon > div:not(:first-child)::before {
  display: block;
  content: '';
  position: absolute;
  top: 35%;
  left: -20px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../../assets/images/ico-arrow-circle.png") no-repeat center;
  background-size: contain;
}
.column-3-icon-list {
  max-width: 240px;
  margin: 0 auto;
}

/* subpage 3 column has arrow  */
.sub-column-3-arrow {
  padding-top: 50px;
}
.sub-column-3-arrow > div {
  position: relative;
}
.column-3-arrow-list img {
  width: 100%;
}
.column-3-arrow-list p {
  text-align: center;
  background-color: var(--color-primary);
  padding: 5px 10px;
  height: 46px;
  color: var(--color-white);
}
.sub-column-3-arrow > div:not(:first-child)::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 58px;
  height: 66px;
  background: url("../../assets/images/ico-arrow-hexagon.png") no-repeat center;
  background-size: contain;
}

/* icon layout  */
.sub-column-icon .sub-icon-list {
  width: 100%;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 35px auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-column-icon .sub-icon-list img {
  max-width: 60px;
  margin: 0 auto 10px;
}
.sub-column-icon .sub-icon-list p {
  line-height: 1.2;
  padding: 0 10px;
  color: var(--color-primary);
  font-weight: 500;
}
.sub-column-icon .col-md-3 {
  position: relative;
}
.sub-column-icon .col-md-3:not(:last-child):after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media(max-width: 991px) {
  .mo-img {
    display: block;
  }
  .pc-img {
    display: none;
  }

  .sub-column-2.row > * {
    padding-left: 32px;
    padding-right: 32px;
  }
  .sub-column-2.column-reverse {
    flex-direction: column-reverse;
  }
  .sub-column-2-txt {
    max-width: 100%;
  }
  .sub-column-2-txt.txt-left {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .sub-column-2-txt.txt-right {
    padding-left: 0;
    padding-right: 0;
  }
  .sub-column-2-txt h2 {
    padding-bottom: 25px;
  }

  .sub-column-3-icon {
    padding-top: 10px;
  }
  .column-3-icon-list > img {
    width: 120px;
  }
  .sub-column-3-icon > div:not(:first-child)::before {
    width: 40px;
    height: 40px;
  }

  .sub-column-3-arrow {
    padding-top: 10px;
  }
  .sub-column-3-arrow > div:not(:first-child)::before {
    width: 45px;
    height: 51px;
    left: -22px;
  }

}
@media(max-width: 767px) {
  .sub-visual-txt h2 {
    padding: 30px 0 15px;
  }
  .sub-visual-desc {
    line-height: 1.6;
  }

  .sub-info-sec {
    padding: 100px 0;
  }
  .sub-info-logo {
    max-width: 130px;
  }
  .sub-info-txt h2 {
    padding: 35px 0 20px;
  }

  .sub-column-2 {
    padding-bottom: 35px;
  }
  .sub-column-2.row > * {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sub-column-icon .sub-icon-list {
    margin: 20px auto;
  }
  .sub-column-icon .col-md-3:not(:nth-child(2n)):after {
    height: 80%;
  }
  .sub-column-icon .col-md-3:nth-child(2n):after {
    display: none;
  }

  .sub-section {
    padding: 90px 0;
  }
}
@media(max-width: 575px) {
  .sub-column-3-icon > div:not(:first-child)::before {
    top: 10px;
    left: 46.5%;
    transform: translate(0, -50%) rotate(90deg);
  }
  .column-3-icon-list {
    max-width: 320px;
  }

  .sub-column-3-arrow > div:not(:first-child)::before {
    top: -12px;
    left: 46.5%;
    transform: translate(0, -50%) rotate(90deg);
  }
  .sub-column-3-arrow {
    row-gap: 25px;
  }
}
@media(max-width: 480px) {
  .sub-section {
    padding: 70px 0;
  }

  .sub-info-sec {
    padding: 80px 0;
  }
  .sub-info-logo {
    max-width: 100px;
  }

  .sub-column-2-txt h2 {
    padding-bottom: 20px;
  }
  .sub-column-icon .sub-icon-list {
    width: 130px;
    height: 130px;
    margin: 10px auto;
  }
  .sub-column-icon .sub-icon-list img {
    max-width: 45px;
    margin-bottom: 5px;
  }
  .sub-column-icon .sub-icon-list p {
    font-size: 13px;
  }

  .sub-column-3-icon > div:not(:first-child)::before {
    left: 45.5%;
  }
}

/* antiaging page  */
.antiaging-bg {
  background: url("../../assets/images/anti-visual.jpg") no-repeat center;
  background-size: cover;
}
.antiaging-info-bg {
  background: url("../../assets/images/anti-info-bg.jpg") no-repeat center;
  background-size: cover;
}
.anti-equipment-sec {
  background-color: #f6f3ef;
}

/* texture page  */
.texture-bg {
  background: url("../../assets/images/texture-visual.jpg") no-repeat center;
  background-size: cover;
}
.texture-info-bg {
  background: url("../../assets/images/texture-info-bg.jpg") no-repeat center;
  background-size: cover;
}

/* whitening page  */
.whitening-bg {
  background: url("../../assets/images/whitening-visual.jpg") no-repeat center;
  background-size: cover;
}
.whitening-info-bg {
  background: url("../../assets/images/whitening-info-bg.jpg") no-repeat center;
  background-size: cover;
}
.whitening-equipment-sec .sub-column-3-list > img {
  width: 100%;
  border: 1px solid #ddd;
}

/* special program  */
.special-bg {
  background: url("../../assets/images/special-visual.jpg") no-repeat center;
  background-size: cover;
}

/* karin's special page */
.karin-special-bg {
  background: url("../../assets/images/karins-visual.jpg") no-repeat center;
  background-size: cover;
}
.special-info-sec .special-info-line {
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--color-gold);
  margin: 0 auto 20px;
}
.special-info-top > img {
  width: 260px;
  margin: 0 auto;
}
.special-info-wrap {
  max-width: 1400px;
  margin: 60px auto 120px;
  padding: 80px 0;
}
.special-info-wrap .special-info-list:not(:last-child) {
  padding-bottom: 50px;
}
.special-info-wrap .special-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.special-info-wrap .special-info-txt {
  padding-left: 35px;
}
.special-info-wrap .special-info-txt .num {
  font-size: 42px;
}
.special-info-wrap .special-info-txt h3 {
  font-size: 32px;
  padding: 15px 0 20px;
}
.special-info-wrap .special-info-txt .desc-bold {
  padding-bottom: 15px;
}
.special-info-wrap .special-info-txt p:not(.num) {
  font-size: 18px;
}
.special-info-bottom img {
  margin: 0 auto;
}
.info-bottom-wrap {
  position: relative;
}
.special-bottom-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.special-bottom-txt p {
  font-size: 32px;
}
.special-bottom-txt h2 {
  font-size: 36px;
  margin-top: 20px;
}

@media(max-width: 1400px) {
  .special-info-wrap .special-info-txt {
    padding-left: 0;
  }
  .special-info-wrap .special-info-txt .num {
    font-size: 32px;
  }
  .special-info-wrap .special-info-txt h3 {
    font-size: 28px;
    padding: 10px 0 15px;
  }
  .special-info-wrap .special-info-txt p:not(.num) {
    font-size: 16px;
  }
}
@media(max-width: 1024px) {
  .special-info-wrap {
    padding: 60px 0;
    margin: 50px 0 90px;
  }
  .special-bottom-txt p {
    font-size: 28px;
  }
  .special-bottom-txt h2 {
    font-size: 32px;
  }
}
@media(max-width: 767px) {
  .special-info-sec .special-info-line {
    height: 80px;
    margin: 0 auto 10px;
  }
  .special-info-top > img {
    width: 200px;
  }
  .special-info-wrap {
    margin-bottom: 70px;
  }
  .special-info-wrap .special-info-list:not(:last-child) {
    padding-bottom: 35px;
  }
  .special-info-wrap .special-info-txt .num {
    font-size: 28px;
  }
  .special-info-wrap .special-info-txt h3 {
    font-size: 24px;
  }
  .special-info-wrap .special-info-txt p:not(.num) {
    font-size: 15px;
  }
  .special-info-bottom img {
    width: 140px;
  }
  .special-bottom-txt p {
    font-size: 24px;
  }
  .special-bottom-txt h2 {
    font-size: 28px;
    margin-top: 15px;
  }
}
@media(max-width: 480px) {
  .special-info-wrap {
    margin: 40px 0 60px;
  }
  .special-info-wrap .special-info-txt .num {
    font-size: 24px;
  }
  .special-info-wrap .special-info-txt h3 {
    font-size: 20px;
    padding: 5px 0 10px;
  }
  .special-bottom-txt p {
    font-size: 18px;
  }
  .special-bottom-txt h2 {
    font-size: 22px;
  }
}

/* director intro page  */
.director-intro-bg {
  background: url("../../assets/images/director-intro-visual.jpg") no-repeat center;
  background-size: cover;
}

/* equipment intro page  */
.equipment-intro-bg {
  background: url("../../assets/images/equipment-intro-visual.jpg") no-repeat center;
  background-size: cover;
}



