/* sub common  */
.mo-img {
  display: none;
}

.sub-section {
  padding: 120px 0;
}

.sub-visual {
  height: 100vh;
  position: relative;
}

.sub-visual-txt {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  color: var(--color-white);
}
.sub-add {
  letter-spacing: 5px;
  font-weight: 500;
  transform: skew(-0.1deg);
}
.sub-visual-txt h2 {
  padding: 30px 0 35px;
  line-height: 1.4;
}
.sub-visual-desc {
  line-height: 1.9;
}

.sub-info-sec {
  padding: 160px 0;
}
.sub-info-logo {
  max-width: 180px;
}
.sub-info-txt h2 {
  padding: 45px 0 30px;
}

/* subpage 2 column  */
.sub-column-2 {
  padding-bottom: 60px;
}
.sub-column-2.row {
  margin-left: 0;
  margin-right: 0;
}
.sub-column-2.row > * {
  padding-left: 0;
  padding-right: 0;
}
.sub-column-2-txt {
  max-width: 600px;
}
.sub-column-2-txt.txt-left {
  padding-right: 40px;
  margin: 0 0 0 auto;
}
.sub-column-2-txt.txt-right {
  padding-left: 40px;
}
.sub-column-2-txt h2 {
  padding-bottom: 35px;
}
.sub-column-2-txt p {
  letter-spacing: 1.7;
  color: var(--color-gray1);
}
.sub-column-2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* subpage 3 column  */
.sub-column-3 {
  row-gap: 35px;
}
.sub-column-3-list img {
  width: 100%;
}
.sub-column-3-title {
  padding: 25px 0 5px;
}

/* icon layout  */
.sub-column-icon .sub-icon-list {
  width: 100%;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 35px auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-column-icon .sub-icon-list img {
  max-width: 60px;
  margin: 0 auto 10px;
}
.sub-column-icon .sub-icon-list p {
  line-height: 1.2;
  padding: 0 10px;
  color: var(--color-primary);
  font-weight: 500;
}
.sub-column-icon .col-md-3 {
  position: relative;
}
.sub-column-icon .col-md-3:not(:last-child):after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media(max-width: 991px) {
  .mo-img {
    display: block;
  }
  .pc-img {
    display: none;
  }

  .sub-column-2.row > * {
    padding-left: 32px;
    padding-right: 32px;
  }
  .sub-column-2.column-reverse {
    flex-direction: column-reverse;
  }
  .sub-column-2-txt {
    max-width: 100%;
  }
  .sub-column-2-txt.txt-left {
    padding-right: 0;
    margin: 0;
  }
  .sub-column-2-txt.txt-right {
    padding-left: 0;
  }
}
@media(max-width: 767px) {
  .sub-visual-txt h2 {
    padding: 30px 0 15px;
  }
  .sub-visual-desc {
    line-height: 1.6;
  }

  .sub-info-sec {
    padding: 100px 0;
  }
  .sub-info-logo {
    max-width: 130px;
  }
  .sub-info-txt h2 {
    padding: 35px 0 20px;
  }

  .sub-column-2 {
    padding-bottom: 35px;
  }
  .sub-column-2.row > * {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sub-column-icon .sub-icon-list {
    margin: 20px auto;
  }
  .sub-column-icon .col-md-3:not(:nth-child(2n)):after {
    height: 80%;
  }
  .sub-column-icon .col-md-3:nth-child(2n):after {
    display: none;
  }

  .sub-section {
    padding: 90px 0;
  }
}
@media(max-width: 480px) {
  .sub-section {
    padding: 70px 0;
  }

  .sub-info-sec {
    padding: 80px 0;
  }
  .sub-info-logo {
    max-width: 100px;
  }



  .sub-column-2-txt h2 {
    padding-bottom: 20px;
  }
  .sub-column-icon .sub-icon-list {
    width: 130px;
    height: 130px;
    margin: 10px auto;
  }
  .sub-column-icon .sub-icon-list img {
    max-width: 45px;
    margin-bottom: 5px;
  }
  .sub-column-icon .sub-icon-list p {
    font-size: 13px;
  }
}

/* antiaging page  */
.antiaging-bg {
  background: url("../../assets/images/anti-visual.jpg") no-repeat center;
  background-size: cover;
}
.antiaging-info-bg {
  background: url("../../assets/images/anti-info-bg.jpg") no-repeat center;
  background-size: cover;
}
.anti-equipment-sec {
  background-color: #f6f3ef;
}

